asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
Click==7.0
colorama==0.3.7
constantly==15.1.0
cryptography==2.1.4
dlib==19.15.0
enum34==1.1.6
gunicorn==19.10.0
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
PAM==0.4.2
pandas==0.24.2
Parsley==1.2
pprint==0.1
psutil==5.4.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pygrip==0.3
pyliblzma==0.5.3
pyOpenSSL==17.5.0
pyserial==3.4
python-dateutil==2.8.0
pytz==2019.3
pyxdg==0.26
SecretStorage==2.3.1
service-identity==16.0.0
six==1.11.0
termcolor==1.1.0
torbrowser-launcher==0.2.9
Twisted==17.9.0
txsocksx==0.0.0
unity-lens-photos==1.0
virtualenv==16.7.5
xarray==0.11.3
zope.interface==4.3.2
